<!DOCTYPE html>
<html lang="ko">
	<head>
		{{#block "header"}}
		{{> include/header}}
		{{/block}}
	</head>
	<body>
        <div class="container-fluid">
            {{#block "navbar"}}
            {{> include/navbar}}
            {{/block}}

            {{#block "content"}}
            {{/block}}


        </div>
        {{#block "footer"}}
            {{> include/footer}}
        {{/block}}
	</body>
</html>