<!-- javascript 에서 사용할 contextPath -->
<input type="hidden" id="context_path" value="/" />

<!-- Latest compiled and minified JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Footer -->

<footer class="fixed-bottom font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"></div>
    <!-- Copyright -->
</footer>
