{{#partial "content" }}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Hello World - v1</h1>
            </div>
        </div>
    </div>
{{/partial}}

{{> include/base}}