<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>MS Poc Demo</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/signin.css" rel="stylesheet">
        <script src="/js/bootstrap.min.js"></script>
        <script>
            function go(){

            }

        </script>
    </head>
    <body class="text-center">
        <form class="form-signin" method="POST" action="login" contentType="application/text" >
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" onclick="go()">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>
    </body>
</html>